{% extends "base.html" %}

{% block content %}



{% if form.errors %}
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      &nbsp; Invalid username/password.
    </div>
{% endif %}


<div class="row">
<div class="col-md-4">


<form method="post" action="{% url 'login' %}" autocomplete="on">
{% csrf_token %}

<div class="form-group">
    <label for="id_username">Username</label>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
        
        <input type="text" class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" value="{{ form.username.value|default_if_none:"" }}" placeholder="Enter username" aria-describedby="basic-addon1" /> 
    </div>
</div>

<div class="form-group">
    <label for="id_password">Password</label>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"></span></span>
        
        <input type="password" class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" value="{{ form.password.value|default_if_none:"" }}" placeholder="Enter password" aria-describedby="basic-addon1" /> 
    </div>
</div>


<button type="submit" class="btn btn-default">Login</button>
<input type="hidden" name="next" value="{{ next }}" />

</form>

</div>
</div>

{% endblock %}
